<div class="col-xs-12">
	<h1>Uw dashboard</h1>
	<div class="row"><div class='col-xs-12'>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
</div>
		<div class="col-xs-12 col-md-4">
			<h2>Laatste nieuwsbericht</h2>
			<p>
				Duis convallis sit amet tellus gravida faucibus. Nunc vehicula justo ut dui tristique blandit a et ex. Nulla pellentesque aliquet sem. Proin id nisl a tellus volutpat auctor. Suspendisse eu massa metus. Nam ac magna ex. Ut vestibulum turpis dolor, eu pharetra enim ornare in. Morbi diam nisl, varius in interdum eget, finibus sit amet lacus.
			</p>
		</div>
		<div class="col-xs-12 col-md-4">
			<h2>Internationaal nieuws</h2>
			<p>
				Duis convallis sit amet tellus gravida faucibus. Nunc vehicula justo ut dui tristique blandit a et ex. Nulla pellentesque aliquet sem. Proin id nisl a tellus volutpat auctor. Suspendisse eu massa metus. Nam ac magna ex. Ut vestibulum turpis dolor, eu pharetra enim ornare in. Morbi diam nisl, varius in interdum eget, finibus sit amet lacus.
			</p>
		</div>
		<div class="col-xs-12 col-md-4">
			<h2>Lokaal nieuws</h2>
			<p>
				Duis convallis sit amet tellus gravida faucibus. Nunc vehicula justo ut dui tristique blandit a et ex. Nulla pellentesque aliquet sem. Proin id nisl a tellus volutpat auctor. Suspendisse eu massa metus. Nam ac magna ex. Ut vestibulum turpis dolor, eu pharetra enim ornare in. Morbi diam nisl, varius in interdum eget, finibus sit amet lacus.
			</p>
		</div>
		
	</div>
</div>
