<div class="col-sm-3 col-md-2"></div>

<div class="col-xs-12 col-md-10">
	<h1>Jaartal</h1>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
			2014
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">2014</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">2013</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">2012</a></li>
		</ul>

		<div class="btn-group" align="right">
			<button type="button" class="btn btn-default">Vermogen</button>
			<button type="button" class="btn btn-default">Euro</button>
		</div>
	</div>
	<div>
		<h2>Opbrengst per jaar</h2>
		<div id="yearhistory"></div>

		<h2>Opbrengst per maand</h2>
		<div id="monthhistory"></div>

		<h2>Opbrengst per kwartaal</h2>
		<div id="quarterhistory"></div>

		<h2>Afwijking tussen voorspelde opbrengst en reële opbrengst</h2>
		<div id="difference"></div>
	</div>