<div class="col-sm-3 col-md-2"></div>

<div class="col-xs-12 col-md-6">
	<h1>Windturbines</h1>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			Windturbine 1
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		
		</ul>
	</div>
	<div prediction-chart></div>
	
	<div day-chart></div>
</div>
<div class="col-xs-6 col-md-3">
	<h2 id="turbine">Windturbine 1</h2>
	<div class="col-xs-6 col-md-6">
		<img src="img/animated_turbine.gif" class="img-responsive" alt="Responsive image">
	</div>
	<div class="col-xs-3 col-md-3">
		<table class="table">
			<tr><td>Mijn molen:</td><td id="molen"></td></tr>
			<tr><td>Windsnelheid:</td><td id="windsnelheid"></td></tr>
			<tr><td>Vermogen:</td><td id="vermogen"></td></tr>
			<tr><td>Windkracht:</td><td id="windkracht"></td></tr>
			<tr><td>Windrichting:</td><td id="windrichting"></td></tr>
			<tr><td>Wind:</td><td id="wind"></td></tr>
		</table>
	</div>
</div>