<div class="col-xs-12 col-md-3">
	<h1>Windturbines</h1>
	<p>
		Windturbine #1
		<br>
		Windturbine #2
	</p>
</div>
<div class="col-xs-12 col-md-6">
	<h1>Prototype homepagina</h1>
	<div id="chart_div" style="width: 400px; height: 200px;"></div>
</div>
<div class="col-xs-12 col-md-3">
	<h2>Wellicht ook interessant</h2>
	<ul>
		<li>
			<a href="http://getbootstrap.com">Bootstrap</a>
		</li>
		<li>
			<a href="http://angularjs.com">AngularJS</a>
		</li>
		<li>
			<a href="http://jquery.com">jQuery</a>
		</li>
	</ul>
	<h2>Dit is een test!</h2>
	<ul>       
		<li>
			<a href="http://google.nl">Google</a>
		</li>
	</ul>
</div>