<div class="col-xs-6 col-md-3">
	<h1>Windturbines</h1>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			Turbine 1
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Turbine 2</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Turbine 3</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Turbine 4</a></li>
		</ul>
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<div prediction-chart></div>
</div>
<div class="col-xs-6 col-md-3">
	<h2>Windturbine 1</h2>
	<div class="col-xs-6 col-md-6">
		<img src="img/animated_turbine.gif" class="img-responsive" alt="Responsive image">
	</div>
	<div class="col-xs-3 col-md-3">
		<table class="table">
			<tr><td>Mijn molen:</td><td>486</td><td>kW</td></tr>
			<tr><td>Windsnelheid:</td><td>30</td><td>m/s</td></tr>
			<tr><td>Vermogen:</td><td>21</td><td>%</td></tr>
			<tr><td>Windkracht:</td><td>Z 4</td><td>Bft</td></tr>
			<tr><td>Windrichting:</td><td>NO</td><td></td></tr>
			<tr><td>Wind:</td><td>Matige wind</td><td></td></tr>
		</table>
	</div>
</div>